.s-hero {
    width: 100%;
    background-color: #F2F3F9;
    padding-top: 19.3rem;
    padding-bottom: 18rem;
    overflow-x: hidden;
    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .left {
        position: relative;
        margin-top: 1.6rem;
        width: 100%;
        max-width: 56.4rem;
        .star {
            position: absolute;
            right: 0;
            top: 0;
        }
        h1 {
            position: relative;
            z-index: 1;
            color: var(--black);
            font-size: 6.4rem;
            font-weight: 600;
            letter-spacing: -0.01rem;
            margin-bottom: 2.6rem;
            &::after {
                content: "";
                width: 43.5rem;
                height: 0.8rem;
                background-color: var(--yellow);
                position: absolute;
                bottom: 1.2rem;
                left: 0;
                z-index: -1;
            }
        }
        p {
            font-family: 'Inter', sans-serif;
            color: var(--gray);
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 28.8px */
            margin-bottom: 4rem;
        }
        form {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 52rem;
            height: 6.9rem;
            background-color: var(--white);
            box-shadow: 0px 15px 30px -10px rgba(204, 206, 219, 0.40);
            border-radius: 122px;
            margin-bottom: 5.6rem;
            padding-left: 3.4rem;
            padding-right: 1.5rem;
            input {
                flex: 1;
                margin-right: 2rem;
                border: none;
                color: var(--black);
                font-family: 'Inter', sans-serif;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 150%; /* 24px */
                letter-spacing: -0.05rem;
                &::placeholder {
                    color: var(--gray02);
                }
            }
            button {
                padding: 1.5rem 2.8rem;
                border: none;
                background-color: var(--black);
                color: var(--white);
                border-radius: 97.6px;
                cursor: pointer;
                color: #FDFDFD;
                font-size: 1.4rem;
                font-weight: 500;
                letter-spacing: -0.01rem;
            }
        }
        ul {
            display: flex;
            align-items: center;
            gap: 3rem;
            margin-bottom: 6rem;
        }
        .review {
            display: flex;
            align-items: center;
            gap: 1.6rem;
            span {
                display: flex;
                align-items: center;
                color: #666671;
                font-family: 'Inter', sans-serif;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5rem;
                img {
                    margin-right: 0.6rem;
                }
            }
        }
    }
    .right {
        position: relative;
        right: -112px;
    }

}

.s-card {
    padding-bottom: 11.6rem;
    margin-top: -11.6rem;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .card { 
        width: 100%;
        max-width: 38.4rem;
        height: 21.6rem;
        border-radius: 12px;
        background: #FDFDFD;
        box-shadow: 0px 24px 44px -11px rgba(181, 183, 192, 0.30);
        padding: 4.8rem 5.4rem 4rem 4rem;
        .icon {
            margin-bottom: 2.9rem;
            width: 4rem;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .text {
            h3 {
                color: var(--black);
                font-size: 2.2rem;
                font-weight: 600;
                line-height: 150%; /* 33px */
                margin-bottom: 0.3rem;
            }
            p {
                color: #606272;
                font-family: 'Inter', sans-serif;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 160%; /* 25.6px */
            }
        }
    }
}